<div class="isLoading" *ngIf="isLoading$ | async">Loading...</div>

<div class="search-container">
  <app-search (searchEvt)="performSearch($event)"></app-search>
</div>

<ng-container *ngIf="characterList$ | async as characterList">
  <div
    class="error-message"
    *ngIf="errorMessageAction$ | async as errorMessage"
  >
    {{ errorMessage }}
  </div>

  <div class="card-container">
    <app-card
      *ngFor="let character of characterList"
      [character]="character"
      (navigateCharacterDetails)="viewCharacterDetails($event)"
    ></app-card>
  </div>

  <div class="load-more">
    <button (click)="loadMoreBtn()">Load more</button>
  </div>
</ng-container>
